body {
    background-color: #E5E5E5;
}


/* Button rounded corners */

.button {
    border-radius: 5px;
    color: white;
    background-color: #4B8CC3;
    padding: 10px;
    border-color: #4B8CC3;
}


/* Top left text */

.top {
    position: absolute;
    top: 8px;
    align-self: center;
}


/* Email button */

.email-button {
    position: absolute;
}

.page {
    height: 100vh;
    width: 100vw;
}


/* commenting out
#email-page {
    top: 50%;
}
*/

#back-btn {
    position: absolute;
    top: 85%;
    left: 5%;
}

#email-btn {
    position: absolute;
    top: 50%;
    left: 35%;
}

#qr-btn {
    position: absolute;
    top: 50%;
    left: 55%;
}