body {
    overflow: hidden;
}

h1 {
    font-size: 36px;
}

h3 {
    font-size: 20px;
    margin-top: 20px;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 300px);
    padding: 50px;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.events {
    display: block;
    overflow-y: auto;
    height: 70vh;
}

.card {
    flex-shrink: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 60vw;
    height: auto;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 5px;
    background: #A0D4FF;
    padding: 24px;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.card-container {
    text-align: center;
    align-items: center;
}

.title {
    margin-bottom: 20px;
}

.bg-img {
    display: block;
    opacity: 70%;
    object-fit: cover;
    object-position: -50px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 110vh;
}

@media screen and (max-width: 900px) {
    body {
        background-color: rgb(246, 246, 246);
        overflow: auto;
    }
    h1 {
        font-size: 2em;
    }
    h3 {
        font-size: 18px;
    }
    .events {
        display: block;
        overflow-y: auto;
        height: calc(100vh - 300px);
    }
    .card {
        flex-shrink: 0;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        width: 60vw;
        height: auto;
        margin: auto;
        margin-bottom: 10px;
        border-radius: 5px;
        background: #A0D4FF;
        padding: 16px;
        align-items: center;
    }
    .flex-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 767px) {
    .bg-img {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    body {
        background-color: rgb(246, 246, 246);
        overflow: auto;
    }
    h1 {
        font-size: 1.75em;
    }
    h3 {
        font-size: 16px;
        margin-top: 12px;
    }
    .events {
        display: block;
        overflow-y: auto;
        height: calc(100vh - 250px);
        margin-bottom: 20px;
    }
    .card {
        flex-shrink: 0;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        width: 60vw;
        height: auto;
        margin: auto;
        margin-bottom: 10px;
        border-radius: 10px;
        background: #A0D4FF;
        padding: 16px;
        align-items: center;
    }
    .flex-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    .bg-img {
        display: none;
    }
}